* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: courier;
  background: white;
}

.header {
  text-align: center;
  padding: 32px;
  background-color: #0a0a23;
  color: #fff;
  border-bottom: 4px solid;
}

.navbar img {
  background-size: viewport;
  width: 100%;
  max-width: 300px;
  height: 250px;
  max-height: 100%s;
  object-fit: cover;
  border-radius: 50%;
  max-height: 100vh;
  margin: auto;
}
